<div style="height: 50px;"></div>
<div class="container-md">
    <div class="row">
        <div *ngFor="let article of articleList" class="col d-flex justify-content-center my-3">
            <div class="card" (click)="showChosenArticle(article.slug!)" style="width: 18rem;">
                <div class="card-body shadow p-3 bg-body rounded">
                    <div class="card-clickable">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ article.description }}</h6>
                        <p class="card-text">{{ article.body }}</p>
                    </div>
                    <span *ngFor="let tag of article.tagList" class="badge bg-secondary m-1">{{ tag }}</span>
                </div>
            </div>
        </div>
    </div>
</div>