
.card {
    cursor: pointer;
}

.card-text, .card-title, .card-subtitle, .card-body {
    overflow: hidden;
}

.card-title {
    max-height: 4.8em;
}
.card-subtitle {
    max-height: 3.6em;
}
.card-text {
    max-height: 18em;
}

/* .card-header:hover {
    box-shadow: 0 .5rem 1rem rgba(85, 85, 85, 0.5);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
} */