<div style="height: 50px;"></div>
<div class="container-md">
    <div class="row bg-info bg-opacity-25 p-4 shadow">
        <div class="col">

            <!-- ARTICLE -->
            <div class="d-flex justify-content-between">
                <h3>{{ showArticle.title }}</h3>
                <div class="d-flex">
                    <fa-icon  *ngIf="!showArticle.isFavourite" class="mx-2 star-valign clickable" (click)="toggleFavorite(showArticle.slug, showArticle.isFavourite)" [icon]="faStar"></fa-icon>
                    <fa-icon  *ngIf="showArticle.isFavourite" class="mx-2 star-icon-full star-valign clickable" (click)="toggleFavorite(showArticle.slug, showArticle.isFavourite)" [icon]="solidFaStar"></fa-icon>
                    <button  (click)="editArticle(showArticle.slug!)" class="btn btn-outline-warning btn ms-3">Edit</button>
                </div>
            </div>
                <p class="text-muted">
                    {{ showArticle.description }}
                </p>
                <div>
                    <span *ngFor="let tag of showArticle.tagList" class="badge rounded-pill bg-secondary me-2">{{ tag
                        }}</span>
                </div>
                <hr>
                <p>{{ showArticle.body }}</p>
            <hr>


            <div *ngIf="!loggedIn" class="alert alert-light" role="alert">
                Log in to leave a comment!
            </div>
            <hr *ngIf="!loggedIn">

            <!-- LEAVE COMMENT -->
            <div *ngIf="loggedIn">
                <h5 class="mt-5">What do you think about it?</h5>
                <form action="" #comment="ngForm" (ngSubmit)="submitComment(comment)">
                    <textarea class="form-control" name="body" id="body" rows="2" ngModel required></textarea>
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-success my-3" [disabled]="comment.form.invalid">Send</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="row bg-info bg-opacity-10 p-4 shadow">
        <div class="col">

            <!-- COMMENTS -->
            <div class="d-flex flex-row justify-content-start align-items-center">
                <h5 class="mt-3">Comments</h5>
                <fa-icon (click)="showEditComment()" class="mt-3 px-2 article-icon clickable" [icon]="faPenSquare"></fa-icon>
            </div>
            <div class="container">
                <div *ngFor="let comment of showArticle.comments" class="row my-3">
                    <div class="col-1 p-0">
                        <img [src]="comment.author.image" alt="" style="width: 80%" class="m-2 mt-0 border border-dark rounded">
                    </div>
                    <div class="col">
                        <p (click)="showUser(comment.author.username)" data-bs-toggle="modal" data-bs-target="#userProfileModal" class="mb-0 fw-bold lh-1 user_link">{{ comment.author.username }}</p>
                        <small class="text-muted lh-1">{{ comment.created | date:'y. MMMM d. EEEE HH:mm'}}</small>
                        <p class="lh-1">{{ comment.body }}</p>
                    </div>
                    <div *ngIf="editOn" class="col-1">
                        <fa-icon (click)="deleteComment(comment.id)" class="mt-3 me-2 article-icon-red"
                            [icon]="faTrash"></fa-icon>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP MODAL ON USER CLICK, SHOWS USER PROFILE. CAN FOLLOW IF LOGGED IN -->
<app-profile-modal [loggedIn]="loggedIn" [pickedUserProfile]="pickedUserProfile"></app-profile-modal>