.btn {
    max-height: 38px;
}

.article-icon {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    &-red {
        color: red;
    }
}

.star-icon-full {
    color: rgb(194, 173, 59);
    text-shadow: 1px 1px 1px #ccc;
}

.user_link:hover {
    text-decoration: underline;
    cursor: pointer;
}