.btn {
    max-height: 38px;
}

.article-icon {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    padding-bottom: 3px;
    &-red {
        color: red;
    }
}

.star-icon-full {
    color: rgb(194, 173, 59);
    text-shadow: 1px 1px 1px #ccc;
}

.user_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.star-valign {
    padding-top: 6px;
}

.clickable:hover {
    transform: scale(1.4);
    transition: ease-in;
    transition-duration: 0.2s;
    cursor: pointer;
}
