<div *ngIf="!loggedIn" style="height: 150px"></div>
<div *ngIf="!loggedIn" class="text-center"><button class="n btn-secondary btn-lg" href="#" routerLink="../user-reglog">Log in first!</button></div>
<div *ngIf="loggedIn" class="container-md">
    <form [formGroup]="articleForm">
        <h5 class="my-3">New Article</h5>
        <div class="mb-3">
            <label for="articleTitle" class="form-label">Title</label>
            <input formControlName="articleTitle" type="text" class="form-control" id="articleTitle">
            <small *ngIf="articleForm.get('articleTitle')?.invalid && articleForm.get('articleTitle')?.touched" class="text-danger">You have to name the article!</small>
        </div>
        <div class="mb-3">
            <label for="articleDescription" class="form-label">Description</label>
            <input formControlName="articleDescription" type="text" class="form-control" id="articleDescription">
        </div>
        <div class="mb-3">
            <label for="articleBody" class="form-label">Body</label>
            <textarea formControlName="articleBody" class="form-control" aria-label="With textarea"></textarea>
            <small *ngIf="articleForm.get('articleBody')?.invalid && articleForm.get('articleBody')?.touched" class="text-danger">The article's body is very important!</small>
        </div>
        <div class="mb-3">
            <label for="articleTags" class="form-label">Tags</label>
            <tag-input formControlName="articleTags"></tag-input>
        </div>
        <div class="d-flex justify-content-end">
            <button *ngIf="!updating" (click)="submitArticle()" [disabled]="articleForm.invalid" class="btn btn-primary ms-3">Submit</button>
            <button *ngIf="updating" (click)="updateArticle()" [disabled]="articleForm.invalid" class="btn btn-success ms-3">Update</button>
            <button *ngIf="updating" (click)="deleteArticle()" class="btn btn-danger ms-3">Delete</button>
            
        </div>
    </form>
</div>