<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="">UI-CHALLANGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Article
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" routerLink="article/form">New Article</a></li>
                        <li><a class="dropdown-item" href="#" routerLink="article/list">Article-list</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" routerLink="/user/reglog">New User / User - login</a></li>
                        <li><a class="dropdown-item" href="#" routerLink="/user/list">User-list</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex justify-content-end">
                <span *ngIf="currentUser" class="navbar-text ps-3 pe-1">Welcome</span>
                <a *ngIf="currentUser" class="navbar-text" href="#" routerLink="user/details">{{ currentUser.username }}</a>
                <span *ngIf="currentUser" class="navbar-text pe-3">!</span>
                <button *ngIf="currentUser" class="btn btn-secondary" (click)="logout()">Logout</button>
                <button *ngIf="!currentUser" class="btn btn-secondary" routerLink="user/reglog">Login</button>
            </div>
        </div>
    </div>
</nav>